.link_div{
    display: flex;
    flex-direction: column;
}
.social_media{
    display: flex;
    justify-content: center;
}
.about_btn{
    color: white;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.about_btn:hover{
    color: black;
    background-color: white;
}