@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* Navbar CSS */

.navbar{
    font-family:'Poppins', sans-serif; 
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  
    box-shadow: 0 8px 6px -6px  #a29e9e;
    /* border-bottom: 1px solid rgb(99, 96, 96); */
}
.navbar-brand{
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    letter-spacing: 2px;
}
.nav-link{
    font-weight: 300 !important;
}
.active{
    border-bottom: 2px solid black;
}

/* Footer CSS
 */
 .footer{
    color: aliceblue;
    background-color: black;
    padding: 20px;
 }
.footer a{
    text-decoration: none;
    color: aliceblue;
    margin: 4px;
}
.footer a:hover{
    border-bottom: 2px solid grey;
}


/* pagenot found css */

.pnftext{
 justify-content: center !important;
 position: absolute;
 top: 40%;
 left: 40%;
}
.contactus {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }